.page {
    background: #F2F2F2;
}

.title {
    text-align: center;
    font-size: 37px;
    color: #373737;
    font-family: 'Alata', sans-serif;
}

.info {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    color: #7D7D7D;
    margin: 0 500px;
    font-family: 'Alata', sans-serif;

}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blocks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 70px 100px;
    font-family: 'Alata', sans-serif;
}

.block1{
    width: 344px;
    height: 290px;
    background: #FFFFFF; 
    color: #37474F, 72,16%;
    padding: 24px; 
    border-radius: 10px; 
    margin: 50px 47px;
    font-family: 'Alata', sans-serif;
}


b{
    font-size: 24px;
    font-style: normal;
    font-family: Alata;
    color: #373737;
    font-family: 'Alata', sans-serif;
}


.block2{
    width: 344px;
    height: 290px;
    background: #FFFFFF;
    color: #373737;
    padding: 24px;
    border-radius: 10px;
    margin: 50px 47px;
    font-family: 'Alata', sans-serif;
}

.block3{
    width: 344px;
    height: 290px;
    background: #FFFFFF;
    color: #373737;
    padding: 24px;
    border-radius: 10px; 
    margin: 50px 47px;
    font-family: 'Alata', sans-serif;
}

.block4{
    width: 344px;
    height: 290px;
    background: #FFFFFF; 
    color: #373737;
    padding: 24px;
    border-radius: 10px;
    margin: 50px 47px;
    font-family: 'Alata', sans-serif;
}

.block5{
    width: 344px;
    height: 290px;
    background: #FFFFFF;
    color: #373737;
    padding: 24px;
    border-radius: 10px;
    margin: 50px 47px;
    font-family: 'Alata', sans-serif;
}

.img1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 76px;
    left: 31px;
    top: calc(50% - 76px/2 - 108.5px);
    background: #717CFF;
    border-radius: 38px;
    margin: 10px;
}

.img2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 76px;
    left: 31px;
    top: calc(50% - 76px/2 - 108.5px);
    background: #FF5959;
    border-radius: 38px;
    margin: 10px;
}

.img3
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 76px;
    left: 31px;
    top: calc(50% - 76px/2 - 108.5px);
    background: #70CE88;
    border-radius: 38px;
    margin: 10px;
}

.img4
{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 76px;
    left: 31px;
    top: calc(50% - 76px/2 - 108.5px);
    background: #5C96FF;
    border-radius: 38px;
    margin: 10px;
}

.img5
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 76px;
    left: 31px;
    top: calc(50% - 76px/2 - 108.5px);
    background: #FA706C;
    border-radius: 38px;
    margin: 10px;
}

a 
{ 
    text-decoration: none; 
}


p
{
    font-size: 16px;
    color: #7D7D7D;
}

h
{
    font-size: 17px;
    color: #717CFF;
    padding-bottom: 18.23px;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 15px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
